

<%- include ('partials/header') %>
<%- include ('partials/homeNavbar.ejs') %>

<body>

    <div class="container">
        <hr>
        <div class="jumbotron">
            <h1 class="display-4">Bem vindo</h1>
            <p class="lead">Este é o resultado de um curso de node realizado no final de 2020</p>
            <hr class="my-4">
        </div>
        <% articles.forEach(article=> { %>
            <div class="card">
                <div class="card-header">
                    <h2><%= article.title %></h2>
                </div>
                <div class="card-body">
                    <a href="/<%= article.slug %>"class="btn btn-primary"> Ler Artigo</a>
                </div>
            </div>
        <% }) %>
        <div class="row">
            <div class="col col-12">
                <a style="float: right;" href="/articles/page/2">Next</a>
                

            </div>
        </div>
    <hr>
    </div>

</body>

<%- include ('partials/footer') %>